.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 15s linear;
  height: 60%;
}

.AppHeader {
  background-color: #282c34;
  height: 20vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  height: 80vh;
}

a {
  color: #61dafb;
}

.AppFooter {
  position: absolute;
  width: 100%;
  bottom: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
